.calculatorDisplay {
    background-color: black;
    border: 1px solid grey;
    width: 98%;
    color: white;
    display: flex;
    justify-content: flex-end;
    padding-right: 2%;
    font-size: 4.5rem;
  }
  